body {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  font-size: 15px;
  box-sizing: border-box;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  max-width: 62rem;
  height: 37rem;
  margin: 5rem auto;
  border-radius: 5mm;
  box-shadow: 0px 0px 20px 1px black;
}
.container-1-1 {
  text-align: center;
}
.player-1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.present-score-player-1,
.present-score-player-2 {
  font-size: 5rem;
  margin: 0;
  color: #c7365f;
}
.container-1-2 {
  background-color: #c7365f;
  padding: 2rem;
  width: 9rem;
  height: 4rem;
  text-align: center;
  margin-left: 3rem;
  border-radius: 3mm;
  margin-top: 5rem;
}
.container-2-2 {
  margin-left: 4rem;
}
.current {
  font-size: 1.5rem;
  margin: 0;
  color: white;
}
.current-score-player-1,
.current-score-player-2 {
  font-size: 2rem;
  color: white;
  margin-top: 1rem;
}
.container-1 {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4.5rem 5.5rem;
  border-top-left-radius: 5mm;
  border-bottom-left-radius: 5mm;
}
.container-2 {
  padding: 4.5rem 5.5rem;
  background-color: rgba(255, 255, 255, 0.26);
  border-top-right-radius: 5mm;
  border-bottom-right-radius: 5mm;
}
.buttons {
  position: absolute;
  text-align: center;

  font-size: 1.2rem;
  border-radius: 9mm;
  padding: 0.8rem 2.5rem;

  cursor: pointer;
  background-color: rgba(224, 217, 217, 0.64);
  border: none;
}
.new-game {
  top: 7rem;
  left: 43%;
}
.roll-dice {
  top: 29rem;
  left: 44%;
  padding: 0.7rem 2rem;
}
.hold {
  top: 34rem;
  left: 45%;
  padding: 0.7rem 1.8rem;
}
.my-dice {
  width: 6.5rem;
  height: 6.5rem;
  position: absolute;
  top: 18rem;
  left: 46.6%;
  background: white;
  color: red;
  border: none;
}
.my-dice-1 {
  display: none;
}
